* text=auto eol=lf

tests/           export-ignore
.github/         export-ignore
phpstan.neon     export-ignore
pint.json        export-ignore
phpunit.xml      export-ignore
CHANGELOG.md     export-ignore
SECURITY.md      export-ignore
CONTRIBUTING.md  export-ignore